* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pageComponent {
    height: 100%;
    width: 100%;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
    border-bottom: 2px solid black;
}

.individualComponent {
    display: flex;
    justify-content: center;
    align-items: center;
}